{% extends 'layout.html' %}

{% block head %}

<style>
    .sidenav {
        height: 100%;
        width: 25%;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 5%;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .welcome {
        padding-top: 5%;
        padding-left: 10%;
        color: white;
    }

    .profile-pic {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
    }

    .details {
        padding-top: 5%;
        padding-left: 10%;
        color: white;
    }

    .page-content {
        margin-left: 25%;
        padding: 5% 8% 5% 8%;
    }

    .title {
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .card {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        padding: 10%;
        text-align: center;
        cursor: pointer;
    }

    .card:hover {
        background-color: rgb(230, 227, 227);
    }

    .btn-lg {
        margin: 5%;
        width: 20%;
    }
</style>

{% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="sidenav">
        <h1 class="welcome">Welcome {{user.username}}!</h1>
        {% load static %}
        <img src="{% static 'default.png' %}" alt="" class="profile-pic">

        <div class="details">
            <h2>{{user.first_name}} {{user.last_name}}</h2>
            <h3>Score: {{user.trust_score}}</h3>
        </div>
    </div>

    <div class="page-content">
        <h1 class="title">Genres</h1>

        <form action="genres" method="POST">
            {% csrf_token %}
            <div style="display: none;">{{ form.genre }}</div>

            <div class="row">
                {% for genre in genres %}
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card"
                        onclick="document.getElementById('{{ form.genre.auto_id }}').value=this.innerHTML;document.getElementsByClassName('card').style.background='white';this.style.background='rgb(230, 227, 227)'">
                        {{ genre }}
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="text-center">
                <input type="submit" class="btn btn-lg btn-primary" value="Start Game">
            </div>
        </form>

    </div>
</div>

{% endblock %}