{% extends 'layout.html' %}

{% block head %}

<style>
    .sidenav {
        height: 100%;
        width: 25%;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 5%;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .welcome {
        padding-top: 5%;
        padding-left: 10%;
        color: white;
    }

    .profile-pic {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
    }

    .details {
        padding-top: 5%;
        padding-left: 10%;
        color: white;
    }

    .page-content {
        margin-left: 25%;
        padding: 5% 8% 5% 8%;
    }

    .title {
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .instruction {
        font-size: 2.5vh;
        padding-bottom: 1%;
    }

    .btn-lg {
        width: 20%;
    }
</style>

{% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="sidenav">
        <h1 class="welcome">आपका स्वागत है {{user.username}}!</h1>
        {% load static %}
        <img src="{% static 'default.png' %}" alt="" class="profile-pic">

        <div class="details">
            <h2>{{user.first_name}} {{user.last_name}}</h2>
            <h3>कुल अंक: {{user.trust_score}}</h3>
        </div>
    </div>

    <div class="page-content">
        <h1 class="title">कैसे खेलें?</h1>
        <ul>
            <li class="instruction">सबसे पहले नीचे दिए गए खेले बटन को दबाये, यह आपको विभिन्न वर्ग के पृष्ठ पर ले जायेगा|</li>
            <li class="instruction">अब आपको विभिन्न खेल के वर्ग दिखेंगे, आप इसमे अपना मनपसंद वर्ग चुन सकते हैं |</li>
            <li class="instruction">उस वर्ग पर क्लिक करें और शुरू बटन दबाये |</li>
            <li class="instruction">अब आपको उस वर्ग के सवाल दिखाए जाएँगे| आपके पास हर सवाल के लिए 100 सेकंड रहेंगे, इसके पश्चात अपने आप नया सवाल दिखाया जाएगा और इस सवाल का कोई मूल्य नहीं रहेगा अगर आप उत्तर नहीं भरते हैं तो|</li>
            <li class="instruction">हर सवाल में आपको 3 विकल्प मिलेंगे, आप किसी को भी चुन सकते है| इसके अलावा आपको खुद का उत्तर डालने का प्रयत्न भी है|</li>
            <li class="instruction">उत्तर भरने के बाद आपको सन्दर्भ भरने का भी प्रयत्न दिया गया है | इसमे आप यूआरएल, इमेज या पीडीएफ डाल सकते है |</li>
            <li class="instruction">ध्यान रहे अगर आपका सन्दर्भ आपके उत्तर से मैच नहीं करेगा तो आपको पॉइंट्स मे नुकसान होगा, वर्ना फ़ायदा, इसलिए सही सन्दर्भ का उपयोग करे |
                आप सन्दर्भ को खाली भी छोड़ सकते है|</li>
            <li class="instruction">जब आपका हो जाये तो खेल खत्म कर दे |</li>
        </ul>

        <div class="text-center">
            <a href="genres" class="btn btn-dark btn-lg" role="button">खेले</a>
        </div>
    </div>
</div>

{% endblock %}