{% extends 'layout.html' %}

{% block head %}

<style>
    .sidenav {
        height: 100%;
        width: 25%;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 5%;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .welcome {
        padding-top: 5%;
        padding-left: 10%;
        color: white;
    }

    .profile-pic {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
    }

    .details {
        padding-top: 5%;
        padding-left: 10%;
        color: white;
    }

    .page-content {
        margin-left: 25%;
        padding: 5% 8% 5% 8%;
    }

    .title {
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .instruction {
        font-size: 2.5vh;
        padding-bottom: 1%;
    }

    .btn-lg {
        width: 20%;
    }
</style>

{% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="sidenav">
        <h1 class="welcome">Welcome {{user.username}}!</h1>
        {% load static %}
        <img src="{% static 'default.png' %}" alt="" class="profile-pic">

        <div class="details">
            <h2>{{user.first_name}} {{user.last_name}}</h2>
            <h3>Score: {{user.trust_score}}</h3>
        </div>
    </div>

    <div class="page-content">
        <h1 class="title">Instructions</h1>
        <ul>
            <li class="instruction">The users will be asked to login/signup and will be directed to the main dashboard, where if
                they have not already can update their profile picture.</li>
            <li class="instruction">The users will be shown options for multiplayer and single player, from which they can choose
                which mode to compete.</li>
            <li class="instruction">After choosing the mode, the player will be displayed several genres in which they want to play.</li>
            <li class="instruction">Once the genre is selected, the player will be given instructions on how to fill the answer within
                the time limit</li>
            <li class="instruction">Once the genre is chosen and the game is started, the user will be displayed some questions, to
                which he has to give an answer along with a reference, or simply give an answer or just skip the
                answer.</li>
            <li class="instruction">The scores are assigned to the user and the question so that a trusted user has more weightage
                at the end, while updating the answer.</li>
        </ul>

        <div class="text-center">
            <a href="genres" class="btn btn-dark btn-lg" role="button">Play</a>
        </div>
    </div>
</div>

{% endblock %}