{% extends 'layout.html' %}

{% block head %}

<style>
    .page-content {
        padding: 5% 8% 0% 8%;
    }

    .title {
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .card {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 2% 4% 2% 4%;
    }

    .option {
        font-size: 2.5vh;
        padding-bottom: 1%;
        cursor: pointer;
    }

    .timer {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        border-style: solid;
        border-radius: 50%;
        width: 6%;
        height: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .btn-lg {
        margin: 1%;
        width: 20%;
    }
</style>

<script type="text/javascript">
    var interval = setInterval(function () {
        t = document.getElementById('time').innerHTML;
        t = t - 1;
        document.getElementById('time').innerHTML = t;

        if (t == 0) {
            clearInterval(interval);
            document.getElementById('submit').click();
        }
    }, 1000)
</script>

{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="page-content">
        <h1 class="title">Quiz</h1>
    </div>

    <form action="quiz&{{genre}}" method="POST">
        {% csrf_token %}

        <div class="card">
            <h3>{{ question_hin }}</h3>

            <ol type="A">
                <li class="option" onclick="document.getElementById('{{ form.answer.auto_id }}').value=this.innerHTML">1
                </li>
                <li class="option" onclick="document.getElementById('{{ form.answer.auto_id }}').value=this.innerHTML">2
                </li>
                <li class="option" onclick="document.getElementById('{{ form.answer.auto_id }}').value=this.innerHTML">3
                </li>
            </ol>

            <div class="text-center">
                <h4>
                    Answer(If it is not in the above options): <br>
                    {{ form.answer }}<br><br>
                    Reference: <br>
                    {{ form.reference }}
                </h4>
            </div>
        </div>

        <div class="text-center">
            <div class="timer">
                <span id="time">100 </span>
                <span>seconds</span>
            </div>

            <input type="submit" id='submit' class="btn btn-primary btn-lg" value="Submit & Next Question">
        </div>

    </form>

    <div class="text-center">
        <a href="/genres" class="btn btn-danger btn-lg" id="end_quiz" role="button">End Quiz</a>
    </div>
</div>

{% endblock %}